body{
    background-color: #f6f8fa;
    box-sizing: border-box;
}

.entry-content {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 10px 30px;
}

.entry-content blockquote {
    margin: 0;
    color: #555;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.entry-content .highlighter-rouge{
    background-color: #444;
    color: #fff;
    padding: 2px 10px;
}